body {
   font-family: Arial, Helvetica, sans-serif;
   /* height: 80vh; */
   background-color: rgb(38, 39, 39);
   color: white;
   margin-top: 125px;
   /* display: flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center; */
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1 {
   text-align: center;
}

#calculator {
   margin-left: calc(50% - 100px);
}

.row {
   display: table;
   table-layout: fixed;
   width: 200px;
}

.column {
   display: table-cell;
}

.btn {
   width: 25px;
   height: 40px;
   background-color: white;
   color: black;
   border: 1px solid gray;
   text-align: center;
   cursor: pointer;
   padding-top: 13px;
}

#display {
   text-align: right;
   background: rgb(69, 69, 69);
   height: 60px;
   font-size: 42px;
   overflow: hidden;
   padding: 10px 5px 0 5px;
   border-radius: 10px 10px 0 0;
}

#reset {
   width: 52px;
}

#zero {
   width: 52px;
   border-radius: 0 0 0 10px;
}

#equal {
   border-radius: 0 0 10px 0;
}


/* Discount Calculator */
#discountDiv {
  text-align: center;
}

#calculate {
  cursor: pointer;
  border-radius: 10px;
  height: 30px;
  width: 80px;
}

.d-calc {
  border-radius: 8px;
  padding: 6px 8px;
  margin: 3px 0;
  box-sizing: border-box;
}


/* Toggle */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin-left: calc(50% - 30px);
  width: 60px;
  height: 34px;
  margin-top: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(22, 93, 150);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}